@model THLP_Web.ViewModel.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul class="course">
    @foreach (var course in Model.UpcomingCourses)
    {
        <li>
            @course.Datetime - @course.Lecturer.Name
        </li>
    }
</ul>
<ul class="course">
    @foreach (var course in Model.UpcomingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.Datetime.ToString("MM")
                </div>
                <div class="day">
                    @course.Datetime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                    }

                </span>
                <span class="category">
                    @course.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    <button data-coures-id="@course.Id" class=" btn btn-default btn-sm js-toggle-attendance">Going</button>
                }
            </div>
        </li>
    }

</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('.js-toggle-attendance').click(function () {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Songthing failed");
                    });
            });
        });
    </script>
}